# .htaccess

# Turn on RewriteEngine
RewriteEngine On

# Set the base directory of the application
RewriteBase /

# Specify the default index file
DirectoryIndex index.html

# Redirect requests to existing files or directories directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Pretty URL rewrite rules for main pages
RewriteRule ^children/?$ children.html [L]
RewriteRule ^caretakers/?$ caretakers.html [L]
RewriteRule ^quiz/?$ quiz.html [L]
RewriteRule ^gameroom/?$ gameroom.html [L]
RewriteRule ^toolkit/?$ toolkit.html [L]

# Rewrite rules for articles within subdirectories
RewriteRule ^caretakers-articles/(.*)$ caretakers-articles/$1.html [L]
RewriteRule ^children-articles/(.*)$ children-articles/$1.html [L]

# Rewrite rules for tools in the tools directory
RewriteRule ^tools/password$ tools/password.php [L]
RewriteRule ^tools/keepass$ tools/keepass.html [L]
RewriteRule ^tools/mfa$ tools/mfa.html [L]
RewriteRule ^tools/haveibeenpwned$ tools/haveibeenpwned.html [L]
RewriteRule ^tools/virustotal$ tools/virustotal.html [L]

# Rewrite rules for games in the games directory
RewriteRule ^games/scramble$ games/scramble.html [L]
RewriteRule ^games/wordsearch$ games/wordsearch.html [L]
RewriteRule ^games/wspuzzle$ games/wspuzzle.html [L]
RewriteRule ^games/wspuzzlel$ games/wspuzzlel.html [L]

# Rewrite rules
RewriteRule ^start-quiz$ start-quiz.html [L]
RewriteRule ^search$ search.html [L]
RewriteRule ^feedback$ feedback.php [L]
RewriteRule ^contact$ contact.html [L]
RewriteRule ^about$ about.html [L]
RewriteRule ^captcha$ captcha.php [L]

# Custom error pages
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
ErrorDocument 502 /502.html
ErrorDocument 503 /503.html
ErrorDocument 504 /504.html
ErrorDocument 505 /505.html

# PHP settings (adjust as needed)
php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_execution_time 300
php_value max_input_time 300

# Enable gzip compression for text, HTML, XML, CSS, and JavaScript files
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
